# Data Report

### Video
(The 360ยบ video was exported as two 150ยบ videos, containing half the room each. 
Folders video1 and video 2 contain the data related to each of the two videos.)

output_video1.csv contains FER data from video1\
output_video2.csv contains FER data from video2

In [3]:
import pandas as pd

video_file1 = 'output_video1.csv'
video_file2 = 'output_video2.csv'
df1 = pd.read_csv(video_file1)
df2 = pd.read_csv(video_file2)

Total Emotion Count

In [7]:
emotion_counts1 = df1['Emotion'].value_counts()
emotion_counts2 = df2['Emotion'].value_counts()

total = emotion_counts1.add(emotion_counts2, fill_value=0)
print(total)

Emotion
Angry       28295
Disgust     52440
Fear        49490
Happy       48244
Neutral     38759
Sad         71943
Surprise    90933
Name: count, dtype: int64

#### Text 
text_output.txt contains the transcription of all the speech

In [9]:
from collections import Counter
import re

with open('text_output.txt', 'r', encoding='utf-8') as file:
    lines = file.readlines()

Average Sentence Length

In [10]:
total_sentences = len(lines)
total_words = 0
word_counter = Counter()

for line in lines:
    line = line.strip()
    words = re.findall(r'\b\w+\b', line.lower())
    total_words += len(words)
    word_counter.update(words)


average_sentence_length = total_words / total_sentences if total_sentences else 0
print(f"Average sentence length: {average_sentence_length:.2f} words")

Average sentence length: 6.96 words

Total Sentences and Words

In [12]:
print(f"Total number of sentences: {total_sentences}")
print(f"Total number of words: {total_words}")

Total number of sentences: 1149
Total number of words: 8000

Unique Words

In [15]:
unique_words = len(word_counter)
print(f"Number of unique words: {unique_words}")

Number of unique words: 1100

Most Common Words

In [13]:
most_common_words = word_counter.most_common(10)
print("Most common words:")
for word, count in most_common_words:
    print(f"{word}: {count}")

Number of unique words: 1100
Most common words:
you: 432
the: 305
i: 242
so: 226
to: 212
it: 198
s: 175
a: 171
and: 169
that: 158

#### Labels
labels.csv contains the annotated data from the experiment

In [18]:
label_file = 'labels.csv'
df = pd.read_csv(label_file)

display(df)

       timestamp             label
0   64144.230985   Session Started
1   64162.648001        Exposition
2   64294.927295        Discussion
3   64617.311922        Exposition
4   64655.609163        Discussion
5   64730.305357        Exposition
6   64879.644655       Exploration
7   64899.649972        Exposition
8   64942.053825        Discussion
9   64965.106910       Exploration
10  65206.924711        Exposition
11  65250.560061            Combat
12  66788.022430        Exposition
13  66808.163921        Discussion
14  66848.175374       Exploration
15  66851.112514        Exposition
16  66872.962527       Exploration
17  66985.675327        Exposition
18  67035.575684       Exploration
19  67405.149988        Exposition
20  67650.890641        Exposition
21  67696.458570        Exposition
22  67806.197536       Exploration
23  67845.106058        Exposition
24  67889.610922        Discussion
25  68118.986842   Session Started

## Basic Statistics

In [19]:
import matplotlib.pyplot as plt
import matplotlib.patches as patches
import seaborn as sns

csv_file = 'outputVideos.csv'
df = pd.read_csv(csv_file)

df.head()

   Frame Number     X    Y  Width  Height Emotion
0           1.0   844  366     86      86   Angry
1           1.0   892  371     89      89    Fear
2           1.0   341  294    141     141     Sad
3           1.0  1594  382    103     103   Happy
4           1.0   741  268    128     128    Fear

Percentage of emotions

In [21]:
emotion_percentages = df['Emotion'].value_counts(normalize=True) * 100
emotion_stats = pd.DataFrame({'Percentage': emotion_percentages})

display(emotion_stats)

          Percentage
Emotion
Surprise   23.923189
Sad        18.927188
Disgust    13.796224
Fear       13.020121
Happy      12.692316
Neutral    10.196946
Angry       7.444015

Emotion Averages

In [22]:
emotion_frame_stats = df.groupby('Emotion')['Frame Number'].agg(['mean', 'median'])
emotion_modes = df.groupby('Emotion')['Frame Number'].apply(lambda x: x.mode().iloc[0] if not x.mode().empty else None)
emotion_frame_stats['mode'] = emotion_modes

display(emotion_frame_stats)

                  mean   median     mode
Emotion
Angry     27183.530341  28496.0   1505.0
Disgust   24080.964703  22972.5    385.0
Fear      24322.428652  24005.0   2914.0
Happy     22441.534015  18510.5   4221.0
Neutral   25158.714389  26326.0  13676.0
Sad       21684.656965  17570.0  13088.0
Surprise  23318.964798  21734.0   4619.0