In [19]:
import pandas as pd
from datetime import datetime

csv_file = 'labels_with_intervals.csv'

df = pd.read_csv(csv_file)

display(df)

              Label    Start      End
0   Session Started  0:00:00  0:00:18
1        Exposition  0:00:18  0:02:30
2        Discussion  0:02:30  0:07:53
3        Exposition  0:07:53  0:08:31
4        Discussion  0:08:31  0:09:46
5        Exposition  0:09:46  0:12:15
6       Exploration  0:12:15  0:12:35
7        Exposition  0:12:35  0:13:17
8        Discussion  0:13:17  0:13:40
9       Exploration  0:13:40  0:17:42
10       Exposition  0:17:42  0:18:26
11           Combat  0:18:26  0:44:03
12       Exposition  0:44:03  0:44:23
13       Discussion  0:44:23  0:45:03
14      Exploration  0:45:03  0:45:06
15       Exposition  0:45:06  0:45:28
16      Exploration  0:45:28  0:47:21
17       Exposition  0:47:21  0:48:11
18      Exploration  0:48:11  0:54:20
19       Exposition  0:54:20  1:01:01
20      Exploration  1:01:01  1:01:40
21       Exposition  1:01:40  1:02:25
22       Discussion  1:02:25  1:06:14

In [23]:
def format_timedelta(td):
    total_seconds = int(td.total_seconds())
    hours, remainder = divmod(total_seconds, 3600)
    minutes, seconds = divmod(remainder, 60)
    return f"{hours:02}:{minutes:02}:{seconds:02}"

df['Start'] = pd.to_timedelta(df['Start'])
df['End'] = pd.to_timedelta(df['End'])

# Calculate the duration
df['duration'] = df['End'] - df['Start']

# Convert the duration back to HH:MM:SS format
df['Start'] = df['Start'].apply(format_timedelta)
df['End'] = df['End'].apply(format_timedelta)
df['duration'] = df['duration'].apply(format_timedelta)

display(df)

              Label     Start       End  duration
0   Session Started  00:00:00  00:00:18  00:00:18
1        Exposition  00:00:18  00:02:30  00:02:12
2        Discussion  00:02:30  00:07:53  00:05:23
3        Exposition  00:07:53  00:08:31  00:00:38
4        Discussion  00:08:31  00:09:46  00:01:15
5        Exposition  00:09:46  00:12:15  00:02:29
6       Exploration  00:12:15  00:12:35  00:00:20
7        Exposition  00:12:35  00:13:17  00:00:42
8        Discussion  00:13:17  00:13:40  00:00:23
9       Exploration  00:13:40  00:17:42  00:04:02
10       Exposition  00:17:42  00:18:26  00:00:44
11           Combat  00:18:26  00:44:03  00:25:37
12       Exposition  00:44:03  00:44:23  00:00:20
13       Discussion  00:44:23  00:45:03  00:00:40
14      Exploration  00:45:03  00:45:06  00:00:03
15       Exposition  00:45:06  00:45:28  00:00:22
16      Exploration  00:45:28  00:47:21  00:01:53
17       Exposition  00:47:21  00:48:11  00:00:50
18      Exploration  00:48:11  00:54:20  00:06:09
19       Exposition  00:54:20  01:01:01  00:06:41
20      Exploration  01:01:01  01:01:40  00:00:39
21       Exposition  01:01:40  01:02:25  00:00:45
22       Discussion  01:02:25  01:06:14  00:03:49

In [27]:
df2 = pd.read_csv(csv_file)

# Convert start and end times to timedelta
df2['Start'] = pd.to_timedelta(df2['Start'])
df2['End'] = pd.to_timedelta(df2['End'])

# Calculate the duration
df2['duration'] = df2['End'] - df2['Start']

# Group by label and sum the durations
total = df2.groupby('Label')['duration'].sum().reset_index()

# Function to format timedelta to HH:MM:SS
def format_timedelta(td):
    total_seconds = int(td.total_seconds())
    hours, remainder = divmod(total_seconds, 3600)
    minutes, seconds = divmod(remainder, 60)
    return f"{hours:02}:{minutes:02}:{seconds:02}"

# Apply the formatting function
total['duration'] = total['duration'].apply(format_timedelta)
total_time = pd.to_timedelta('01:06:14').total_seconds()

total['duration_seconds'] = pd.to_timedelta(total['duration']).apply(lambda x: x.total_seconds())
total['percentage'] = (total['duration_seconds'] / total_time) * 100

total.drop(columns=['duration_seconds'], inplace=True)

display(total)

             Label  duration  percentage
0           Combat  00:25:37   38.676397
1       Discussion  00:11:30   17.362859
2      Exploration  00:13:06   19.778561
3       Exposition  00:15:43   23.729240
4  Session Started  00:00:18    0.452944